
mat-grid-list {
  height: 70px;
}
mat-grid-tile {
  background: lightblue;
}
mat-toolbar-row:nth-child(3) {
  justify-content: end;
}
mat-toolbar-row img {
  display: block;
  width: 100px;
}
mat-toolbar-row span {
  font-size: 30px;
  font-weight: 100;
}