<mat-toolbar color="primary">
  <mat-toolbar-row>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <img src="../../../assets/logo.png">
    <span>
      Tienda de Tolentino
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <app-chips [chips]="chips" (selectChip)="selectChip($event)"></app-chips>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group color="accent" backgroundColor="primary" (selectedTabChange)="tabChange($event)" [selectedIndex]="0">
  <mat-tab label="Tienda">
    <app-products [products]="storedProducts" (buyProduct)="buyProduct($event)"></app-products>
  </mat-tab>
  <mat-tab label="Carrito de compras">
    <app-added-products [products]="addedFilteredProducts" (remove)="removeProduct($event)"></app-added-products>
  </mat-tab>
  <mat-tab label="Detalle de cuenta">
    <app-count [products]="countFilteredProducts"></app-count>
  </mat-tab>
</mat-tab-group>