p, mat-card-actions, mat-card-content, mat-card-header, mat-card {
  border: 0px solid red;
}
img {
  margin: 0;
  width: 200px;
}
mat-card-header {
  padding: 0;
}
mat-card {
  padding: 10px 3px;
  border: 1px solid #cecece;
}
mat-card:hover {
  outline: 1px solid skyblue;
  box-shadow: 1px 1px 10px skyblue;
  box-shadow: -1px -1px 10px skyblue;
}

mat-card:hover button {
  display: block;
}

mat-card-content {
  margin: 0;
}
mat-card-content p {
  text-align: center;
}
mat-card-title {
  border: 0px solid blue;
}
mat-card-subtitle {
  margin: 0 8px;
}
mat-card-subtitle span {
  text-decoration: line-through;
}
mat-icon {
  vertical-align: middle;
}
mat-card-content p mat-icon, mat-card-subtitle mat-icon {
  font-size: 20px;
}

mat-card-content p:nth-child(1) {
  margin: 5px 0;
}
mat-card-content p:nth-child(1) mat-icon {
  font-size: 18px;
}
mat-card div {
  padding: 10px;
}
p span {
  font-size: 12px;
  padding: 0 5px;
  margin: 0 2px;
}
span.woman {
  border: 1px solid tomato;
  background-color: #fdc5bc;
}
span.man {
  border: 1px solid skyblue;
  background-color: #c3eeff;
}
span.young {
  border: 1px solid mediumseagreen;
  background-color: rgb(166, 255, 206);
}
span.offer {
  border: 1px solid red;
  background-color: #ff5b5b;
  color: #fff;
}
span.active {
  border: 1px solid purple;
  background-color: rgb(255, 175, 255);
  color: purple;
}
span.no-active {
  border: 1px solid gray;
  background-color: #dadada;
  color: gray;
}
button {
  position: absolute;
  right: -15px;
  top: 0;
}
mat-card>button {
  display: none;
}