<mat-card class="example-card">
  <button mat-button color="warn" *ngIf="removable" (click)="removeProduct(guid)">
    <mat-icon>cancel</mat-icon>    
  </button>
  <div>
    <mat-card-title>
      <mat-icon color="primary">label_important</mat-icon>
      {{currentPrice}}
    </mat-card-title>
    <mat-card-subtitle>
      Antes: <span>{{lastPrice}}</span>
    </mat-card-subtitle>
  </div>
  <img mat-card-image src="https://picsum.photos/200?{{guid}}" loading="lazy" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      <mat-icon>shop</mat-icon>
      {{name}}
    </p>  
    <p>
      <span [ngClass]="{'woman': category === 'mujer', 'man': category === 'hombre', 'young': category === 'joven' }">
        {{category | titlecase}}
      </span>
      <span class="offer" *ngIf="isOffer">
        Oferta
      </span>
      <span [ngClass]="{'active': isActive, 'no-active': !isActive }">
        {{isActive ? 'Disponible' : 'Agotado'}}
      </span>
    </p>
  </mat-card-content>
</mat-card>  